---
http_interactions:
- request:
    method: post
    uri: https://control.akamai.com/webservices/services/PublishECCU
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:akapubeccudt="https://control.akamai.com/2003/Sep/PublishECCU.xsd" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="https://control.akamai.com/AWS.xsd" xmlns:ins1="https://control.akamai.com/Publish.xsd"><env:Body><akapubeccudt:upload><filename xsi:type="xsd:string">./publish.xml</filename><contents xsi:type="xsd:base64Binary">PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxlY2N1PgogIDxtYXRjaDpyZWN1cnNp
        dmUtZGlycyB2YWx1ZT0iZm9vIiA+CiAgICA8bWF0Y2g6cmVjdXJzaXZlLWRp
        cnMgdmFsdWU9ImJhciIgPgogICAgICA8bWF0Y2g6cmVjdXJzaXZlLWRpcnMg
        dmFsdWU9ImJhei5qcGciID4KICAgICAgICA8cmV2YWxpZGF0ZT5ub3c8L3Jl
        dmFsaWRhdGU+CiAgICAgIDwvbWF0Y2g6cmVjdXJzaXZlLWRpcnM+CiAgICA8
        L21hdGNoOnJlY3Vyc2l2ZS1kaXJzPgogIDwvbWF0Y2g6cmVjdXJzaXZlLWRp
        cnM+CjwvZWNjdT4=
        </contents><notes xsi:type="xsd:string">ECCU Request using AkamaiApi VERSION</notes><versionString xsi:type="xsd:string"></versionString><propertyName xsi:type="xsd:string">foobarbaz.com</propertyName><propertyType xsi:type="xsd:string">hostheader</propertyType><propertyNameExactMatch xsi:type="xsd:boolean">true</propertyNameExactMatch></akapubeccudt:upload></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"upload"'
      Content-Type:
      - text/xml;charset=UTF-8
      Authorization:
      - Basic VVNFUk5BTUU6UEFTU1dPUkQ=
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><soapenv:Fault><faultcode>soapenv:Server.generalException</faultcode><faultstring>ECCU
        validation failed: You are not authorized to specify this digital property</faultstring><detail><ns1:exceptionName
        xmlns:ns1="http://xml.apache.org/axis/">com.akamai.aws.util.AWSFault</ns1:exceptionName><ns2:hostname
        xmlns:ns2="http://xml.apache.org/axis/">p1-tomapp08.extranet.akamai.com</ns2:hostname></detail></soapenv:Fault></soapenv:Body></soapenv:Envelope>'
  recorded_at: Mon, 26 May 2014 08:05:51 GMT
recorded_with: VCR 2.9.0
