---
http_interactions:
- request:
    method: post
    uri: https://control.akamai.com/webservices/services/PublishECCU
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:akapubeccudt="https://control.akamai.com/2003/Sep/PublishECCU.xsd"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="https://control.akamai.com/AWS.xsd"
        xmlns:ins1="https://control.akamai.com/Publish.xsd"><env:Body><akapubeccudt:getIds></akapubeccudt:getIds></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"getIds"'
      Content-Type:
      - text/xml;charset=UTF-8
      Authorization:
      - Basic VVNFUk5BTUU6UEFTU1dPUkQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getIdsResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="https://control.akamai.com/2003/Sep/PublishECCU.xsd"><fileIds
        soapenc:arrayType="xsd:int[35]" xsi:type="soapenc:Array" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><fileIds
        xsi:type="xsd:int">112714868</fileIds><fileIds xsi:type="xsd:int">112714869</fileIds><fileIds
        xsi:type="xsd:int">112722029</fileIds><fileIds xsi:type="xsd:int">112899587</fileIds><fileIds
        xsi:type="xsd:int">112949504</fileIds><fileIds xsi:type="xsd:int">113056258</fileIds><fileIds
        xsi:type="xsd:int">113117157</fileIds><fileIds xsi:type="xsd:int">113141298</fileIds><fileIds
        xsi:type="xsd:int">113141447</fileIds><fileIds xsi:type="xsd:int">113664906</fileIds><fileIds
        xsi:type="xsd:int">113681361</fileIds[...]
- request:
    method: post
    uri: https://control.akamai.com/webservices/services/PublishECCU
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:akapubeccudt="https://control.akamai.com/2003/Sep/PublishECCU.xsd"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="https://control.akamai.com/AWS.xsd"
        xmlns:ins1="https://control.akamai.com/Publish.xsd"><env:Body><akapubeccudt:getInfo><fileId
        xsi:type="xsd:int">115942214</fileId><retrieveContents xsi:type="xsd:boolean">false</retrieveContents></akapubeccudt:getInfo></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"getInfo"'
      Content-Type:
      - text/xml;charset=UTF-8
      Authorization:
      - Basic VVNFUk5BTUU6UEFTU1dPUkQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getInfoResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="https://control.akamai.com/2003/Sep/PublishECCU.xsd"><EccuInfo
        xsi:type="ns2:EccuInfo" xmlns:ns2="https://control.akamai.com/Publish.xsd"><contents
        xsi:type="xsd:base64Binary" xsi:nil="true"/><extendedStatusMessage xsi:type="xsd:string">File
        successfully deployed to Akamai network (Succeeded)</extendedStatusMessage><fileId
        xsi:type="xsd:int">115942214</fileId><fileSize xsi:type="xsd:int">127</fileSize><filename
        xsi:type="xsd:string" xsi:nil="true"/><md5Digest xsi:type="xsd:string">21d66aa68fda0d7714a60190785597f3</md5Digest><notes
        xsi:type="xsd:string">ECCU Request using EdgeControl</notes><propertyName
        xsi:type="xsd:string">foo.com</propertyName><propertyNameExactMatch xsi:type="xsd:boolean">true</propertyNameExactMatch><propertyType
        xsi:type="xsd:string">hostheader</propertyType><statusChangeEmail xsi:type="xsd:string">guest@mikamai.com</statusChangeEmail><statusCode
        xsi:type="xsd:int">4000</statusCode><statusMessage xsi:type="xsd:string">File
        successfully deployed to Akamai's network</statusMessage><statusUpdateDate
        xsi:type="xsd:dateTime">2014-05-19T16:27:34.512Z</statusUpdateDate><uploadDate
        xsi:type="xsd:dateTime">2014-05-19T15:30:13.512Z</uploadDate><uploadedBy xsi:type="xsd:string">test1</uploadedBy><versionString
        xsi:type="xsd:string" xsi:nil="true"/></EccuInfo></ns1:getInfoResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Tue, 20 May 2014 15:30:29 GMT
recorded_with: VCR 2.9.0
