---
http_interactions:
- request:
    method: get
    uri: https://api.ccu.akamai.com/ccu/v2/queues/default/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, POST
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"supportId": "12345678901234567890-123456789", "httpStatus": 200,
        "detail": "The queue may take a minute to reflect new or removed requests.",
        "queueLength": 0}'
  recorded_at: Tue, 20 May 2014 13:15:52 GMT
recorded_with: VCR 2.9.0
