---
http_interactions:
- request:
    method: post
    uri: https://control.akamai.com/webservices/services/PublishECCU
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:akapubeccudt="https://control.akamai.com/2003/Sep/PublishECCU.xsd"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="https://control.akamai.com/AWS.xsd"
        xmlns:ins1="https://control.akamai.com/Publish.xsd"><env:Body><akapubeccudt:setNotes><fileId
        xsi:type="xsd:int">1234</fileId><notes xsi:type="xsd:string">request
        updated using AkamaiApi</notes></akapubeccudt:setNotes></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"setNotes"'
      Content-Type:
      - text/xml;charset=UTF-8
      Authorization:
      - Basic VVNFUk5BTUU6UEFTU1dPUkQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:setNotesResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="https://control.akamai.com/2003/Sep/PublishECCU.xsd"><success
        xsi:type="xsd:boolean">true</success></ns1:setNotesResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 22 May 2014 12:57:29 GMT
recorded_with: VCR 2.9.0
