<?xml version="1.0" encoding="UTF-8"?>
<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" 
                   xmlns:ns1="http://www.akamai.com/purge" 
                   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
                   xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
                   SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
  <SOAP-ENV:Body>
    <ns1:purgeRequest>
      <name xsi:type="xsd:string">{{username}}</name>
      <pwd xsi:type="xsd:string">{{password}}</pwd>
      <network xsi:type="xsd:string"></network>
      <opt SOAP-ENC:arrayType="xsd:string[0]" xsi:type="ns1:ArrayOfString">
        {{#options}}
          <item xsi:type="xsd:string">{{key}}={{value}}</item>
        {{/options}}
      </opt>
      <uri SOAP-ENC:arrayType="xsd:string[1]" xsi:type="ns1:ArrayOfString">
        {{#uris}}
          <item xsi:type="xsd:string">{{.}}</item>
        {{/uris}}
      </uri>
    </ns1:purgeRequest>
  </SOAP-ENV:Body>
</SOAP-ENV:Envelope>
