---
http_interactions:
- request:
    method: post
    uri: https://control.akamai.com/webservices/services/PublishECCU
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:akapubeccudt="https://control.akamai.com/2003/Sep/PublishECCU.xsd"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="https://control.akamai.com/AWS.xsd"
        xmlns:ins1="https://control.akamai.com/Publish.xsd"><env:Body><akapubeccudt:delete><fileId
        xsi:type="xsd:int">1234</fileId></akapubeccudt:delete></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"delete"'
      Content-Type:
      - text/xml;charset=UTF-8
      Authorization:
      - Basic VVNFUk5BTUU6UEFTU1dPUkQ=
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><soapenv:Fault><faultcode>soapenv:Server.generalException</faultcode><faultstring>fileId
        1234 does not exist</faultstring><detail><ns1:exceptionName xmlns:ns1="http://xml.apache.org/axis/">com.akamai.aws.util.AWSFault</ns1:exceptionName><ns2:hostname
        xmlns:ns2="http://xml.apache.org/axis/">ext-tomapp1.extranet.akamai.com</ns2:hostname></detail></soapenv:Fault></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 22 May 2014 14:51:41 GMT
recorded_with: VCR 2.9.0
